@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

@import url("./styles/fonts.css");
@import url("./styles/nav.css");
@import url("./styles/intro.css");
@import url("./styles/section.css");
@import url("./styles/footer.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* ### primary */
	--p-light-red--cta-text: hsl(356, 100%, 66%);
	--p-very-light-red--cta-hover-background: hsl(355, 100%, 74%);

	/* ### neutral */
	--n-light-grey--menu: hsl(240, 7%, 94%);
	--n-grayish-blue--footer-text: hsl(240, 2%, 79%);
	--n-very-dark-black-blue--footer-background: hsl(240, 10%, 16%);

	/* ### gradient */
	/* background gradient - intro/cta mobile nav: */
	--bg-g-very-light-red: hsl(13, 100%, 72%);
	--bg-g-light-red: hsl(353, 100%, 62%);

	/* background gradient - body: */
	--bg-g-very-dark-gray-blue: hsl(237, 17%, 21%);
	--bg-g-very-dark-desaturated-blue: hsl(237, 23%, 32%);

	--gap-5: min(5%, 1rem);
	--gap-10: min(10%, 2.5rem);
	--curve: 7rem;
}

body {
	display: grid;
	justify-content: center;
}

.main,
.nav-container,
.footer {
	max-width: 1440px;
}

.pointer {
	cursor: pointer;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
