.footer {
	background-color: var(--n-very-dark-black-blue--footer-background);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: 5rem 1rem;
	position: relative;
	text-align: center;
	border-top-right-radius: 6rem;
}

.footer__logo {
	margin-bottom: 2rem;
}

.footer__header {
	font-family: var(--f-ubuntu);
	font-weight: var(--fw-4);
	font-size: var(--fs-m);
	color: var(--fc-w);
	margin-bottom: 3ch;
	cursor: pointer;
}

.footer__item {
	font-family: var(--f-overpass);
	font-weight: var(--fw-3);
	font-size: var(--fs-m);
	color: var(--n-grayish-blue--footer-text);
	list-style: none;
	margin-bottom: 1ch;
	cursor: pointer;
}

.footer__attribution {
	text-align: center;
	font-family: var(--f-overpass);
	font-size: var(--fs-xs);
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	color: var(--n-grayish-blue--footer-text);
	bottom: 1ch;
}

.footer__link {
	color: var(--p-light-red--cta-text);
}

@media screen and (min-width: 640px) {
	.footer {
		width: 100%;
		padding: min(5rem, 10%) min(10rem, 10vw);
		flex-direction: row;
		align-items: flex-start;
		text-align: left;
	}

	.footer__logo {
		max-width: fit-content;
		margin-right: min(10rem, 10vw);
	}

	.footer__list {
		flex-basis: 20%;
		flex-grow: 1;
	}

	.footer__header {
		font-size: var(--fs-s);
	}

	.footer__item {
		font-size: var(--fs-s);
	}
	.footer__item:hover {
		text-decoration: underline;
	}
}
