.intro {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400%;
	background-clip: padding-box;
	background-image: url("/images/bg-pattern-intro-mobile.svg"),
		linear-gradient(var(--bg-g-very-light-red), var(--bg-g-light-red));

	padding: 12rem var(--gap-10) 10rem var(--gap-10); /* 8rem is the hight of the nav bar*/
	gap: 2ch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-bottom-left-radius: var(--curve);
	max-height: min-content;
}

.intro__title {
	flex-basis: 100%;
	color: var(--fc-w);
	font-family: var(--f-overpass);
	font-weight: var(--fw-6);
	font-size: var(--fs-xl);
}

.intro__text {
	flex-basis: 100%;
	color: var(--fc-w);
	margin-bottom: 3ch;
	font-family: var(--f-overpass);
	font-weight: var(--fw-3);
	font-size: var(--fs-m);
}

.intro__button {
	flex-basis: 15ch;
	padding: 1.5ch 0;
	border-radius: 2rem;
	border: none;
	font-family: var(--f-ubuntu);
	font-weight: var(--fw-7);
	font-size: var(--fs-s);
}
.intro__button--primary {
	background-color: white;
	color: var(--p-light-red--cta-text);
}

.intro__button--secondary {
	background-color: transparent;
	color: var(--fc-w);
	outline: 1px solid white;
}
