.intro {
	background-position: 40% 30%;
	background-repeat: no-repeat;
	background-size: 300%;
	background-image: url("../images/bg-pattern-intro-mobile.svg"),
		linear-gradient(var(--bg-g-very-light-red), var(--bg-g-light-red));

	padding: min(12rem, 60%) var(--gap-10) min(10rem, 50%) var(--gap-10); /* 8rem is the hight of the nav bar*/
	gap: 2ch;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	border-bottom-left-radius: var(--curve);
	max-height: min-content;
}

.intro__title {
	flex-basis: 100%;
	color: var(--fc-w);
	font-family: var(--f-overpass);
	font-weight: var(--fw-6);
	font-size: var(--fs-xl);
}

.intro__text {
	flex-basis: 100%;
	color: var(--fc-w);
	margin-bottom: 3ch;
	font-family: var(--f-overpass);
	font-weight: var(--fw-3);
	font-size: var(--fs-m);
}

.intro__button {
	flex-basis: 15ch;
	padding: 1.5ch 0;
	border-radius: 2rem;
	border: none;
	font-family: var(--f-ubuntu);
	font-weight: var(--fw-7);
	font-size: var(--fs-s);
	cursor: pointer;
}
.intro__button--primary {
	background-color: white;
	color: var(--p-light-red--cta-text);
}

.intro__button--secondary {
	background-color: transparent;
	color: var(--fc-w);
	outline: 1px solid white;
}

@media screen and (min-width: 640px) {
	.intro {
		background-image: url("../images/bg-pattern-intro-desktop.svg"),
			linear-gradient(var(--bg-g-very-light-red), var(--bg-g-light-red));
	}

	.intro__title {
		font-size: var(--fs-xxxl);
	}

	.intro__text {
		color: var(--fc-g);
	}

	.intro__button--primary:hover {
		color: var(--fc-w) !important;
		background-color: var(--p-very-light-red--cta-hover-background);
	}

	.intro__button--secondary:hover {
		background-color: white;
		color: var(--p-light-red--cta-text);
	}
}
