.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	margin: 5rem 0;
	overflow: hidden;
}

.content__slogan {
	font-size: var(--fs-l);
	font-family: var(--f-overpass);
	font-weight: var(--fw-6);
	color: var(--fc-p);
	text-align: center;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	text-align: center;
	gap: 3rem;
}

.section--middle {
	background: url("../images/bg-pattern-circles.svg") no-repeat;
	background-position: center -20rem;
	background-size: 160%;
	background-color: var(--bg-g-very-dark-gray-blue);
	border-top-right-radius: 8rem;
	border-bottom-left-radius: 8rem;
	position: relative;
	margin-top: min(14rem, 60%);
}
.section__picture--middle {
	position: absolute;
	transform: translateY(-50%);
	max-width: 400px;
}

.article {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 min(10%, 5ch);
	gap: 2ch;
}

.article--middle {
	margin-top: min(15rem, 65%);
	margin-bottom: min(8rem, 35%);
}

.article__title {
	font-family: var(--f-overpass);
	font-size: var(--fs-l);
	font-weight: var(--fw-6);
	color: var(--fc-p);
}
.article__title--middle {
	font-size: calc(1rem + 6vw);
	color: var(--fc-w);
}

.article__text {
	font-family: var(--f-overpass);
	font-weight: var(--fw-3);
	color: var(--fc-s);
	line-height: 1.5rem;
}
.article__text--middle {
	color: var(--fc-w);
}

@media screen and (min-width: 960px) {
	.content {
		padding: min(6rem, 10%) 0 min(5rem, 10%) 0;
	}

	.content__slogan {
		font-size: var(--fs-xxl);
	}

	.section {
		gap: unset;
		/* */
		max-width: 100%;
		display: grid;
		text-align: left;
		grid-template-columns: 1fr 1fr;
		position: relative;
	}
	.section--top,
	.section--bottom {
		grid-template-rows: 1fr 1fr;
	}
	.section--top {
		margin: min(5rem, 10%) 0 min(18rem, 20%) 0;
	}
	.section--bottom {
		margin: min(15rem, 20%) 0;
	}
	.section--middle {
		margin-top: unset;
		/* */
		background: url("../images/bg-pattern-circles.svg") no-repeat,
			linear-gradient(
				to right,
				var(--bg-g-very-dark-gray-blue),
				var(--bg-g-very-dark-desaturated-blue)
			);
		grid-template-rows: 1fr;
		background-position: -50% 100%;
		justify-content: center;
		padding: 0 8%;
	}

	.section__picture--middle {
		position: unset;
		margin: max(-5rem, -15%) 0;
		/* margin: -5rem 0; */
		max-width: unset;
		transform: none;
	}
	.section__picture--top,
	.section__picture--bottom {
		grid-row: 1/3;
	}
	.section__picture--top {
		grid-column: 2/3;
		margin-left: min(5rem, 15%);
	}
	.section__picture--bottom {
		padding-right: min(7rem, 20%);
	}

	.section--top::before {
		content: "";
		position: absolute;
		width: 60rem;
		height: 60rem;
		right: -20rem;
		background: url("../images/bg-pattern-circles-small.svg") no-repeat center;
		background-size: 100%;
		z-index: -1;
	}

	.section--bottom::before {
		content: "";
		position: absolute;
		width: 50rem;
		height: 50rem;
		left: -20rem;
		background: url("../images/bg-pattern-circles-small.svg") no-repeat center;
		background-size: cover;
		z-index: -1;
	}

	.article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.article:nth-of-type(1) {
		align-self: start;
	}
	.article:nth-of-type(2) {
		align-self: end;
	}
	.article--top {
		padding-left: min(5rem, 15%);
	}
	.article--middle {
		margin: 1rem;
		margin-left: min(10%, 5ch);
		align-self: center !important;
	}
	.article--middle,
	.article--bottom {
		padding-right: min(5rem, 10%);
	}

	.article__title {
		font-size: var(--fs-xl);
	}
	.article__title--middle {
		font-size: var(--fs-xxl);
	}

	.article__text {
		line-height: 2rem;
	}
}
